.card {
  height: auto;
  margin-top: 20px; }
  .card .card-header {
    background-color: #292e4a;
    color: white; }
    .card .card-header .project-name {
      font-size: 20px;
      text-transform: uppercase;
      color: #00fff3; }
    .card .card-header button a {
      color: white;
      text-decoration: none; }
  .card .card-body {
    color: #292e4a;
    font-size: 17px;
    font-weight: 700;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    .card .card-body i {
      padding: 6px;
      font-size: 19px;
      color: #95c9ff; }
    .card .card-body .table-height {
      height: 23rem;
      overflow-y: scroll;
      width: 103%;
      margin-left: -16px;
      margin-top: -11px;
      margin-right: 7px; }
    .card .card-body .table-height::-webkit-scrollbar {
      width: 5px; }
    .card .card-body .table-height ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px; }
    .card .card-body .table-height::-webkit-scrollbar-thumb {
      background: #765555;
      border-radius: 10px; }
    .card .card-body .table-height::-webkit-scrollbar-thumb:hover {
      background: #b30000; }
    .card .card-body button a {
      color: white;
      text-decoration: none; }
    .card .card-body input, .card .card-body textarea, .card .card-body select {
      margin-top: 10px;
      width: 100%; }
      .card .card-body input button .btnStyle, .card .card-body textarea button .btnStyle, .card .card-body select button .btnStyle {
        margin-top: 1px; }
    .card .card-body .formBtn {
      margin-top: 10px;
      width: 100%; }
    .card .card-body .select2-selection__choice {
      font-size: 14px;
      color: #482d2d; }
      .card .card-body .select2-selection__choice .select2-selection__choice__remove {
        float: right;
        font-size: 15px;
        padding-left: 10px; }
